In [2]:
import pandas as pd
df = pd.read_csv('movie.csv')
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [3]:
df.sample(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
1548,Color,George Tillman Jr.,98.0,129.0,88.0,975.0,Charlize Theron,22000.0,48814909.0,Biography|Drama,...,224.0,English,USA,R,32000000.0,2000.0,9000.0,7.2,2.35,0
5004,Color,Mike Bruce,3.0,78.0,6.0,17.0,Kirpatrick Thomas,32.0,243768.0,Western,...,9.0,English,USA,R,30000.0,2007.0,17.0,4.1,2.35,13
2658,Color,Wayne Wang,96.0,106.0,61.0,649.0,Luke Benward,907.0,32645546.0,Comedy|Drama|Family,...,88.0,English,USA,PG,14000000.0,2005.0,807.0,6.4,1.85,1000
4309,Color,Noah Buschel,66.0,95.0,8.0,399.0,Amy Ryan,529.0,17580.0,Drama,...,23.0,English,USA,NaN,1500000.0,2009.0,423.0,6.2,1.85,195
3143,Color,Mark Rosman,65.0,100.0,15.0,804.0,Chris Noth,1000.0,16247775.0,Comedy|Family|Romance,...,104.0,English,USA,PG,25000000.0,2005.0,962.0,5.5,1.85,767