In [1]:
import pandas as pd
import numpy as np

# Movie Revenue Predictions

Drie concept-onderzoeksvragen:
- In hoeverre is de omzet van een film te voorspellen op basis van de populariteit op Facebook en IMDB zelf?
- 2
- 3

## Het Data Science proces
Voor de eerste verkenning is ons gevraagd om de eerste vier stappen uit te voeren:
1. Data collection
2. Data processing (ook wel data munging)
3. Data cleaning
4. Data exploration & analysis
5. Model building
6. Visualization
6. Communication

## 1. Data Collection
De Data Collection is deels al voor ons gedaan. De dataset `movie.csv` is aangeleverd. Echter word voor de opdracht gevraagd om deze te combineren met een dataset van derden. Om erachter te komen welke dataset geschikt is om te combineren met `movies.csv`zullen wij deze dataset eerst moeten processen, cleanen en exploren.

## 2. Data Processing
Ook deze stap is grotendeels voor ons gedaan. De data is goed opgeslagen in een `.csv`-bestand en kan direct worden in gelezen in een _Pandas_ DataFrame. Tevens laten we de eerste vijf rijen van het DataFrame `df_movies`zien of deze data ook daadwerkelijk goed wordt ingeladen.

In [2]:
df_movies = pd.read_csv('data/movie.csv')
df_movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## 3. Data Cleaning
Om de data te prepareren voor exploration & analysis dient het DataFrame eerst te worden opgeschoond. Alleen dan kunnen wij een kwalitatieve analyse leveren. Voordat we de data kunnen schoonmaken moeten we weten wat de individuele kolommen zijn en betekenen.

In de dataset zijn de volgende kolommen te vinden. Van iedere kolom zal het bijbehordende datatype worden beschreven en of het een Nominaal, Oridinaal, Interval of Ratio-meetschaal heeft.

In [10]:
df_movies.columns.tolist()

['color',
 'director_name',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'movie_title',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

'color' | 
 'director_name' | 
 'num_critic_for_reviews' | 
 'duration' | 
 'director_facebook_likes' | 
 'actor_3_facebook_likes' | 
 'actor_2_name' | 
 'actor_1_facebook_likes' | 
 'gross' | 
 'genres' | 
 'actor_1_name' | 
 'movie_title' | 
 'num_voted_users' | 
 'cast_total_facebook_likes' | 
 'actor_3_name' | 
 'facenumber_in_poster' | 
 'plot_keywords' | 
 'movie_imdb_link' | 
 'num_user_for_reviews' | 
 'language' | 
 'country' | 
 'content_rating' | 
 'budget' | 
 'title_year' | 
 'actor_2_facebook_likes' | 
 'imdb_score' | 
 'aspect_ratio' | 
 'movie_facebook_likes |

In [3]:
df_movies.describe(include = "all")

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,5024,4939,4993.000000,5028.000000,4939.000000,5020.000000,5030,5036.000000,4.159000e+03,5043,...,5022.000000,5031,5038,4740,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
unique,2,2398,NaN,NaN,NaN,NaN,3032,NaN,NaN,914,...,NaN,47,65,18,NaN,NaN,NaN,NaN,NaN,NaN
top,Color,Steven Spielberg,NaN,NaN,NaN,NaN,Morgan Freeman,NaN,NaN,Drama,...,NaN,English,USA,R,NaN,NaN,NaN,NaN,NaN,NaN
freq,4815,26,NaN,NaN,NaN,NaN,20,NaN,NaN,236,...,NaN,4704,3807,2118,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,140.194272,107.201074,686.509212,645.009761,NaN,6560.047061,4.846841e+07,NaN,...,272.770808,NaN,NaN,NaN,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,NaN,NaN,121.601675,25.197441,2813.328607,1665.041728,NaN,15020.759120,6.845299e+07,NaN,...,377.982886,NaN,NaN,NaN,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,NaN,NaN,1.000000,7.000000,0.000000,0.000000,NaN,0.000000,1.620000e+02,NaN,...,1.000000,NaN,NaN,NaN,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,NaN,NaN,50.000000,93.000000,7.000000,133.000000,NaN,614.000000,5.340988e+06,NaN,...,65.000000,NaN,NaN,NaN,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,NaN,NaN,110.000000,103.000000,49.000000,371.500000,NaN,988.000000,2.551750e+07,NaN,...,156.000000,NaN,NaN,NaN,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,NaN,NaN,195.000000,118.000000,194.500000,636.000000,NaN,11000.000000,6.230944e+07,NaN,...,326.000000,NaN,NaN,NaN,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,NaN,NaN,813.000000,511.000000,23000.000000,23000.000000,NaN,640000.000000,7.605058e+08,NaN,...,5060.000000,NaN,NaN,NaN,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

Enkele dingen die ons opvallen zijn dat de kolom `color` slechts twee unieke waardes bevat.

In [ ]:
df_movies.dropna(inplace=True)
df_movies.count()

In [ ]:
df_movies.dtypes

In [ ]:
# df_movies.set_index("movie_title", inplace=True)
# df_movies.sort_index(inplace=True)
df_movies["title_year"] = pd.to_datetime(df_movies["title_year"], format='%Y')
# df_movies.drop(["movie_imdb_link", "aspect_ratio"], axis=1, inplace=True)
df_movies.head()

## 4. Data Exploration & Analysis

In [ ]:
df_movies.describe()

In [ ]:
df_movies.head()