In [1]:
import pandas as pd

# Movie Revenue Predictions

Drie concept-onderzoeksvragen:
1. In hoeverre is de omzet van een film te voorspellen op basis van de populariteit op Facebook en IMDB zelf? (min. eisen 4.?)
2. In hoeverre is het mogelijk om op basis van plot keywords te voorspellen welke genres de film heeft? (min. eisen 5.?)
3. In hoeverre is de verhouding budget-omzet veranderd sinds 1935? (min. eisen 4.)

Externe data (minimale eisen 1.)
4. In hoeverre is het mogelijk om op basis van schrijvers en regisseur te voorspellen welke acteurs in een film spelen? (min. eisen 6.?)
5. In hoeverre kunnen wij voorspellen wanneer het budget en omzet hun zenit bereiken gebaseerd op de wereldpopulatie. (min. eisen 5.?)

## Het Data Science proces
Voor de eerste verkenning is ons gevraagd om de eerste vier stappen uit te voeren:
1. Data collection
2. Data processing (ook wel data munging)
3. Data cleaning
4. Data exploration & analysis
5. Model building
6. Visualization
6. Communication


## 1. Data Collection
De Data Collection is deels al voor ons gedaan. De dataset `movie.csv` is ons aangeleverd. Echter word voor de opdracht 
gevraagd om deze te combineren met een dataset van derden. Om erachter te komen welke dataset geschikt is om te 
combineren met `movies.csv`zullen wij deze dataset eerst moeten processen, cleanen en exploren.  

Om te zien of de dataset `movie.csv` goed is ingeladen, worden de eerste vijf rijen getoond:

In [2]:
df_movies = pd.read_csv('data/movie.csv')
df_movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### Externe dataset
Schrijvers van films of wereldpopulatie data (met voorspellingen voor komende zoveel jaar?).

## 2. Data Processing
Ook deze stap is grotendeels voor ons gedaan. De data is goed opgeslagen in een `.csv`-bestand en kan direct worden 
ingelezen in een _Pandas_ DataFrame.

Verder rest ons nog de volgende drie stappen:
1. Ongewenste kolommen droppen
2. Onduidelijke kolomnamen veranderen
3. Volgorde kolommen aanpassen
4. Datatypes aanpassen

In [3]:
df_movies.drop(["movie_imdb_link", "aspect_ratio"], axis=1, inplace=True)

df_movies.rename(columns={'color': 'Colour',
                          'director_name': 'Director',
                          'num_critic_for_reviews': 'Number of critics',
                          'duration': 'Duration',
                          'director_facebook_likes': 'Director FB likes',
                          'actor_3_facebook_likes': 'Actor 3 FB likes',
                          'actor_2_name': 'Actor 2 name',
                          'actor_1_facebook_likes': 'Actor 1 FB likes',
                          'gross': 'Gross',
                          'genres': 'Genres',
                          'actor_1_name': 'Actor 1 name',
                          'movie_title': 'Movie title',
                          'num_voted_users': 'Number of voted users',
                          'cast_total_facebook_likes': 'Total Cast FB likes',
                          'actor_3_name': 'Actor 3 name',
                          'facenumber_in_poster': 'Number of faces on poster',
                          'plot_keywords': 'Plot Keywords',
                          'num_user_for_reviews': 'Number of user reviews',
                          'language': 'Language',
                          'country': 'Country',
                          'content_rating': 'Age rating',
                          'budget': 'Budget',
                          'title_year': 'Release year',
                          'actor_2_facebook_likes': 'Actor 2 FB likes',
                          'imdb_score': 'IMDB Score',
                          'movie_facebook_likes': 'Movie FB likes'}, inplace=True)

# Volgorde kolommen aanpassen
df_movies = df_movies[['Movie title',
                       'Release year',
                       'Director',
                       'Director FB likes',
                       'Movie FB likes',
                       'Gross',
                       'Budget',
                       'Duration',
                       'Language',
                       'Country',
                       'Colour',
                       'Genres',
                       'IMDB Score',
                       'Number of voted users',
                       'Number of critics',
                       'Number of user reviews',
                       'Age rating',
                       'Total Cast FB likes',
                       'Actor 1 name',
                       'Actor 2 name',
                       'Actor 3 name',
                       'Actor 1 FB likes',
                       'Actor 2 FB likes',
                       'Actor 3 FB likes',
                       'Plot Keywords',
                       'Number of faces on poster',
                       ]]

df_movies = df_movies.fillna(0.0).astype(int, errors='ignore')
df_movies["Release year"] = pd.to_datetime(df_movies["Release year"], format='%Y', errors='coerce')

De DataFrame ziet er na stap 2. Data Processing als volgt uit:

In [4]:
df_movies.head()

,Movie title,Release year,Director,Director FB likes,Movie FB likes,Gross,Budget,Duration,Language,Country,...,Age rating,Total Cast FB likes,Actor 1 name,Actor 2 name,Actor 3 name,Actor 1 FB likes,Actor 2 FB likes,Actor 3 FB likes,Plot Keywords,Number of faces on poster
0,Avatar,2009-01-01,James Cameron,0,33000,760505847,237000000,178,English,USA,...,PG-13,4834,CCH Pounder,Joel David Moore,Wes Studi,1000,936,855,avatar|future|marine|native|paraplegic,0
1,Pirates of the Caribbean: At World's End,2007-01-01,Gore Verbinski,563,0,309404152,300000000,169,English,USA,...,PG-13,48350,Johnny Depp,Orlando Bloom,Jack Davenport,40000,5000,1000,goddess|marriage ceremony|marriage proposal|pi...,0
2,Spectre,2015-01-01,Sam Mendes,0,85000,200074175,245000000,148,English,UK,...,PG-13,11700,Christoph Waltz,Rory Kinnear,Stephanie Sigman,11000,393,161,bomb|espionage|sequel|spy|terrorist,1
3,The Dark Knight Rises,2012-01-01,Christopher Nolan,22000,164000,448130642,250000000,164,English,USA,...,PG-13,106759,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,27000,23000,23000,deception|imprisonment|lawlessness|police offi...,0
4,Star Wars: Episode VII - The Force Awakens ...,NaT,Doug Walker,131,0,0,0,0,0,0,...,0,143,Doug Walker,Rob Walker,0,131,12,0,0,0

## 3. Data Cleaning
1. NaN-types verwijderen
2. Dubbele Movie Titles verwijderen

In [5]:
df_movies.dropna(inplace=True)

# Dubbele titels verwijderen

Na stap 3. Data Cleaning ziet het DataFrame er als volgt uit:

In [6]:
df_movies.head()

,Movie title,Release year,Director,Director FB likes,Movie FB likes,Gross,Budget,Duration,Language,Country,...,Age rating,Total Cast FB likes,Actor 1 name,Actor 2 name,Actor 3 name,Actor 1 FB likes,Actor 2 FB likes,Actor 3 FB likes,Plot Keywords,Number of faces on poster
0,Avatar,2009-01-01,James Cameron,0,33000,760505847,237000000,178,English,USA,...,PG-13,4834,CCH Pounder,Joel David Moore,Wes Studi,1000,936,855,avatar|future|marine|native|paraplegic,0
1,Pirates of the Caribbean: At World's End,2007-01-01,Gore Verbinski,563,0,309404152,300000000,169,English,USA,...,PG-13,48350,Johnny Depp,Orlando Bloom,Jack Davenport,40000,5000,1000,goddess|marriage ceremony|marriage proposal|pi...,0
2,Spectre,2015-01-01,Sam Mendes,0,85000,200074175,245000000,148,English,UK,...,PG-13,11700,Christoph Waltz,Rory Kinnear,Stephanie Sigman,11000,393,161,bomb|espionage|sequel|spy|terrorist,1
3,The Dark Knight Rises,2012-01-01,Christopher Nolan,22000,164000,448130642,250000000,164,English,USA,...,PG-13,106759,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,27000,23000,23000,deception|imprisonment|lawlessness|police offi...,0
5,John Carter,2012-01-01,Andrew Stanton,475,24000,73058679,263700000,132,English,USA,...,PG-13,1873,Daryl Sabara,Samantha Morton,Polly Walker,640,632,530,alien|american civil war|male nipple|mars|prin...,1

## 4. Data Exploration & Analysis

In [17]:
df_movies["Director"].value_counts()

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        17
                    ..
Alan Metter          1
Adam Marcus          1
Don Scardino         1
Ken Roht             1
Benni Diez           1
Name: Director, Length: 2395, dtype: int64

In [19]:
df_movies["Actor 1 name"].value_counts()

Robert De Niro     49
Johnny Depp        41
Nicolas Cage       33
J.K. Simmons       31
Bruce Willis       30
                   ..
Grace Phipps        1
Raven-Symoné        1
Yu-mi Jeong         1
Veronica Ferres     1
Eoin Macken         1
Name: Actor 1 name, Length: 2044, dtype: int64

In [20]:
df_movies["Genres"].sample(10)

3746                                  Comedy|Drama
1044                               Horror|Thriller
3256                               Horror|Thriller
4028                                   Drama|Music
213                       Action|Adventure|Fantasy
3486                             Documentary|Sport
3573                Action|Adventure|Drama|Western
1057    Action|Comedy|Crime|Music|Romance|Thriller
1527     Adventure|Animation|Comedy|Family|Fantasy
2737                                  Action|Drama
Name: Genres, dtype: object

In [23]:
df_movies[df_movies["Colour"] != "Color"]

,Movie title,Release year,Director,Director FB likes,Movie FB likes,Gross,Budget,Duration,Language,Country,...,Age rating,Total Cast FB likes,Actor 1 name,Actor 2 name,Actor 3 name,Actor 1 FB likes,Actor 2 FB likes,Actor 3 FB likes,Plot Keywords,Number of faces on poster
111,Pearl Harbor,2001-01-01,Michael Bay,0,0,198539855,140000000,184,English,USA,...,PG-13,5401,Jennifer Garner,Jaime King,Mako,3000,961,691,air raid|black smoke|japanese military|japanes...,0
149,Die Another Day,2002-01-01,Lee Tamahori,93,0,160201106,142000000,133,English,UK,...,PG-13,2538,Toby Stephens,Colin Salmon,Rick Yune,769,766,746,catfight|clinic|colonel|diamond|patricide,0
257,The Aviator,2004-01-01,Martin Scorsese,17000,0,102608827,110000000,170,English,USA,...,PG-13,34582,Leonardo DiCaprio,Adam Scott,Frances Conroy,29000,3000,827,1920s|aviation|fight|spruce goose|test flight,0
272,Ali,2001-01-01,Michael Mann,0,0,58183966,107000000,165,English,USA,...,R,14196,Will Smith,Jada Pinkett Smith,Joe Morton,10000,851,780,african american protagonist|african americans...,1
286,Casino Royale,2006-01-01,Martin Campbell,258,0,167007184,150000000,144,English,UK,...,PG-13,9125,Eva Green,Tobias Menzies,Ivana Milicevic,6000,1000,834,casino|espionage|free running|james bond|terro...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5008,Clerks,1994-01-01,Kevin Smith,0,0,3151130,230000,102,English,USA,...,R,2103,Jason Mewes,Brian O'Halloran,Jeff Anderson,898,657,216,clerk|friend|hockey|video|video store,4
5015,Slacker,1991-01-01,Richard Linklater,0,2000,1227508,23000,100,English,USA,...,R,5,Tommy Pallotta,Richard Linklater,Jean Caffeine,5,0,0,austin texas|moon|pap smear|texas|twenty somet...,0
5020,The Ridges,2011-01-01,Brandon Landers,8,33,0,17350,143,English,USA,...,0,770,Robbie Barnes,Alana Kaniewski,Brandon Landers,720,19,8,avatar|college|death|tron|university,0
5022,Stories of Our Lives,2014-01-01,Jim Chuchu,0,45,0,15000,60,Swahili,Kenya,...,0,170,Paul Ogola,Olwenya Maina,Mugambi Nthiga,147,19,4,0,0
5028,Tin Can Man,2007-01-01,Ivan Kavanagh,18,105,0,10000,83,English,Ireland,...,0,15,Patrick O'Donnell,Michael Parle,Emma Eliza Regan,10,5,0,0,0

In [7]:
# df_movies.describe(include = "all")

In [8]:
# df_movies.count()

In [9]:
# df_movies.dtypes

In [10]:
# df_movies.set_index("Movie title", inplace=True)
# df_movies.sort_index(inplace=True)